<div class="row">
    <div class="col-2 px-1">
        <input class="form-control" list="b53_<%= symbol.id %>_spot_list" id="b53_<%= symbol.id %>_spotName" placeholder="Spot pair" value="<%= symbol.pairname %>">
        <datalist id="b53_<%= symbol.id %>_spot_list">
        </datalist>
    </div>
    <div class="col-1 px-1">
        <input class="form-control" type="text" placeholder="Hours to upload history" id="b53_<%= symbol.id %>_hours" value="<%= symbol.uploadhours %>">
    </div>
    <div class="col-1 px-1">
        <input class="form-control" type="text" placeholder="Hours SPOT to upload history" id="b53_<%= symbol.id %>_hours2" value="<%= symbol.pair_uploadhours %>">
    </div>
    <div class="col-1 px-1">
        <button class="btn btn-secondary btn-sm col-12 .b53symbolupdate" id="b53_<%= symbol.id %>_update">💾</button>
    </div>
</div>
<div class="row mt-1">
    <div class="col-4">
        <div class="row">
            <div class="col-1 px-1">
                <button class="btn btn-secondary btn-sm col-12 b53timechange<%= symbol.id %> px-1" data-value="14400000">4h</button>
            </div>
            <div class="col-1 px-1">
                <button class="btn btn-secondary btn-sm col-12 b53timechange<%= symbol.id %> px-1" data-value="3600000">1h</button>
            </div>
            <div class="col-1 px-1">
                <button class="btn btn-secondary btn-sm col-12 b53timechange<%= symbol.id %> px-1" data-value="1800000">30m</button>
            </div>
            <div class="col-1 px-1">
                <button class="btn btn-secondary btn-sm col-12 b53timechange<%= symbol.id %> px-1" data-value="900000">15m</button>
            </div>
            <div class="col-1 px-1">
                <button class="btn btn-secondary btn-sm col-12 b53timechange<%= symbol.id %> px-1" data-value="300000">5m</button>
            </div>
            <div class="col-1 px-1">
                <button class="btn btn-secondary btn-sm col-12 b53timechange<%= symbol.id %> px-1" data-value="60000">1m</button>
            </div>
            <div class="col-1 px-1">
                <button class="btn btn-secondary btn-sm col-12 b53timechange<%= symbol.id %> px-1" data-value="30000">30s</button>
            </div>
            <div class="col-1 px-1">
                <button class="btn btn-secondary btn-sm col-12 b53timechange<%= symbol.id %> px-1" data-value="10000">10s</button>
            </div>
            <div class="col-1 px-1">
                <button class="btn btn-secondary btn-sm col-12 b53timechange<%= symbol.id %> px-1" data-value="5000">5s</button>
            </div>
            <div class="col-1 px-1">
                <button class="btn btn-secondary btn-sm col-12 b53timechange<%= symbol.id %> px-1" data-value="1000">1s</button>
            </div>
        </div>
    </div>
</div>
<div class="row mt-2" id="b53_<%= symbol.id %>_time" data-value="300000">
    <div class="col-11 px-1">
        <div id="penisholder_<%= symbol.id %>"></div>
    </div>
</div>

<script lang="js">
var rec1html<%= symbol.id %> = `
    <div class="fw-bold fs-5" id="b53_<%= symbol.id %>_percent_box" style="position:absolute; border:1px solid #0000008a;background-color:#00000087;width:60px;height:25px;display:none;z-index:1000;top:0px;left:0px;text-align:center;">
        0
    </div>
    `;
var rec2html<%= symbol.id %> = `
    <div class="fw-bold fs-5" id="b53_<%= symbol.id %>_percent_box2" style="position:absolute; border:1px solid #0000008a;background-color:#00000087;width:1px;height:1px;display:none;z-index:1000;top:0px;left:0px;text-align:center;">
        
    </div>
    `;
var chartline<%= symbol.id %> = (perc,height) => `<div style="width:80%;height:${height}px;display:block;float:right;max-width:100px;clear:both;background-image:linear-gradient(to right, transparent ${perc}%, #375fff82 ${perc}%)"></div>`;
var megaChart<%= symbol.id %> = {
    id:"<%= symbol.id %>",
    chart:null,
    series:[],
    rclick:false,
    rec:{
        juststarted:false,
        startX:0,
        startY:0,
        startPrice:0,
        startTime:0
    },
    buildChart: ()=>{
            megaChart<%= symbol.id %>.chart = LightweightCharts.createChart(document.getElementById("penisholder_<%= symbol.id %>"), {
            width: 1200,
            height: 600,
            layout: {
                backgroundColor: '#171B26',
                textColor: 'rgba(255, 255, 255, 0.9)',
            },
            grid: {
                vertLines: {
                    color: '#334158',
                },
                horzLines: {
                    color: '#334158',
                },
            },
            crosshair: {
                mode: LightweightCharts.CrosshairMode.Normal,
            },
            rightPriceScale: {
                borderColor: '#485c7b',
            },
            timeScale: {
                borderColor: '#485c7b',
                timeVisible : true,
                secondsVisible: true
            },
            watermark: {
                text: "5m <%= symbol.symbol %>",
                fontSize: 68,
                color: "rgba(256, 256, 256, 0.05)",
                visible: true,
                horzAlign: 'left',
                vertAlign: 'top',
            },
            pane:0
        });

        //build main candles
        megaChart<%= symbol.id %>.buildCanldleSeria({
                upColor: '#26A69A',
                downColor: '#EF5350',
                borderDownColor: '#EF5350',
                borderUpColor: '#26A69A',
                wickDownColor: '#EF5350',
                wickUpColor: '#26A69A',
                priceFormat: {
                    type: 'price',
                    minMove: parseFloat("<%= symbol.mintick %>").toFixed(<%= symbol.tickprecision %>+1)
                }
            },
            (can)=>{
                fetch(`/candles?time=${$("#b53_<%= symbol.id %>_time").attr("data-value")}&symbolid=<%= symbol.id %>`)
                    .then(res=>res.json())
                    .then(j=>{
                        can.setData(j);
                    });
            },
            (can)=>{
                //get latest candle and update
                let tima = $("#b53_<%= symbol.id %>_time").attr("data-value");
                if(!tima) return;
                fetch(`/lastcandle?time=${tima}&symbolid=<%= symbol.id %>`)
                .then(res=>res.json())
                .then(j=>{
                    can.update(j);
                });
            }
        );

        //build volume
        megaChart<%= symbol.id %>.buildHistSeria(
            {
                color: "rgba(107, 255, 193, 0.5)",
                lineWidth: 2,
                priceFormat: {
                    type: "volume"
                },
                overlay: true,
                scaleMargins: {
                    top: 0.8,
                    bottom: 0
                },
                lastValueVisible:false,
                title:"Volume",
                priceLineVisible:false,
            },
            (can)=>{
                fetch(`/indicator?time=${$("#b53_<%= symbol.id %>_time").attr("data-value")}&symbolid=<%= symbol.id %>&type=volume`)
                    .then(res=>res.json())
                    .then(j=>{
                        can.setData(j);
                    });
            },
            (can)=>{

            }
        );

        //build sell volume
        megaChart<%= symbol.id %>.buildHistSeria(
            {
                color: "rgba(255, 128, 159, 0.7)",
                lineWidth: 2,
                priceFormat: {
                    type: "volume"
                },
                overlay: true,
                scaleMargins: {
                    top: 0.8,
                    bottom: 0
                },
                lastValueVisible: false,
                priceLineVisible: false,
            },
            (can)=>{
                fetch(`/indicator?time=${$("#b53_<%= symbol.id %>_time").attr("data-value")}&symbolid=<%= symbol.id %>&type=sellvolume`)
                    .then(res=>res.json())
                    .then(j=>{
                        can.setData(j);
                    });
            },
            (can)=>{

            }
        );
        
    },
    buildCanldleSeria: (seria,funcToData,funcToRenew)=>{
        let chartSeria = megaChart<%= symbol.id %>.chart.addCandlestickSeries(seria);
        let newseria = {
            seria:chartSeria,
            setdata: ()=> {funcToData(chartSeria);},
            newdata: ()=> {funcToRenew(chartSeria);}
        };
        megaChart<%= symbol.id %>.series.push(newseria);
    },
    buildHistSeria: (seria,funcToData,funcToRenew)=>{
        let chartSeria = megaChart<%= symbol.id %>.chart.addHistogramSeries(seria);
        let newseria = {
            seria:chartSeria,
            setdata: ()=> {funcToData(chartSeria);},
            newdata: ()=> {funcToRenew(chartSeria);}
        };
        megaChart<%= symbol.id %>.series.push(newseria);
    },
    Indicators: {
        AddFrequency:()=>{
            megaChart<%= symbol.id %>.buildHistSeria(
                {
                    color: "rgba(255, 147, 203, 0.8)",
                    lineWidth: 2,
                    title:"Trade Freq",
                    priceFormat: {
                        type: "volume"
                    },
                    overlay: true,
                    lastValueVisible:false,
                    title:"Freq",
                    priceLineVisible:false,
                    pane:1
                },
                (can)=>{
                    fetch(`/indicator?time=${$("#b53_<%= symbol.id %>_time").attr("data-value")}&symbolid=<%= symbol.id %>&type=tradefreq`)
                        .then(res=>res.json())
                        .then(j=>{
                            can.setData(j);
                        });
                },
                (can)=>{
                    
                });
        },
        AddInterest:()=>{
            megaChart<%= symbol.id %>.buildCanldleSeria(
                {
                    color: "rgba(255, 147, 203, 0.8)",
                    lineWidth: 2,
                    title:"Trade Freq",
                    priceFormat: {
                        type: "volume"
                    },
                    overlay: true,
                    lastValueVisible:false,
                    title:"Interest",
                    priceLineVisible:false,
                    pane:1
                },
                (can)=>{
                    fetch(`/indicator?time=${$("#b53_<%= symbol.id %>_time").attr("data-value")}&symbolid=<%= symbol.id %>&type=interest`)
                        .then(res=>res.json())
                        .then(j=>{
                            can.setData(j);
                        });
                },
                (can)=>{
                    
                });
        }
    }
};


$(()=>{
    megaChart<%= symbol.id %>.buildChart();

    $("#b53_<%= symbol.id %>_update").on("mouseup",(e)=>{
        $(e.target).attr("css","btn btn-secondary btn-sm col-12 .b53symbolupdate");
        //save changes
        let spotid = $(`#b53_<%= symbol.id %>_spot_list option[value='${$("#b53_<%= symbol.id %>_spotName").val()}']`).attr('data-value');
        let hrs = $('#b53_<%= symbol.id %>_hours').val();
        let hrs2 = $('#b53_<%= symbol.id %>_hours2').val();
        fetch("/update?table=dbo.b53symbols&id=<%= symbol.id %>",{method:'POST',
                headers: {
                    "Content-Type": "application/json"
                },
                body:JSON.stringify([
                    {name:"pair",value:spotid},
                    {name:"uploadhours",value:hrs},
                ])}).then(()=>{
                    fetch("/update?table=dbo.b53symbols&id="+spotid,{method:'POST',
                        headers: {
                        "Content-Type": "application/json"
                        },
                        body:JSON.stringify([
                            {name:"uploadhours",value:hrs2},
                    ])}).then(()=>{
                        //close done
                        $(e.target).attr("css","btn btn-success btn-sm col-12 .b53symbolupdate");
                    }).catch((er) => {
                        console.warn(er);
                    });
                    
            }).catch((er) => {
                console.warn(er);
            });
    });
    
    $(".b53timechange<%= symbol.id %>").on("mouseup",(e)=>{
        $("#b53_<%= symbol.id %>_time").attr("data-value",$(e.target).attr("data-value"));
        $(".b53timechange<%= symbol.id %>").removeClass("border-2").removeClass("border-danger");
        $(e.target).addClass("border-2").addClass("border-danger");
        megaChart<%= symbol.id %>.chart.options().watermark.text = $(e.target).text() + " <%= symbol.symbol %>"; 
        megaChart<%= symbol.id %>.series.forEach(s=>{
            s.setdata();
        });
    });
    //add options
    
    fetch("/html_options?type=symbols&isfutures=false&unmain=true&market=<%= symbol.marketname %>")
            .then((r) => r.json())
            .then((h) => {
                $("#b53_<%= symbol.id %>_spot_list").html(
                    h.map(e=>`<option data-value='${e.value}' value='${e.name}'>`).join('')
                );
            })
            .catch((er) => {
                console.warn(er);
            });

    setInterval(()=>{
        megaChart<%= symbol.id %>.series.forEach(s=>{
            s.newdata();
        });
    },250);
    setInterval(()=>{
        megaChart<%= symbol.id %>.series.forEach(s=>{
            s.setdata();
        });
    },60000);

    megaChart<%= symbol.id %>.series.forEach(s=>{
            s.setdata();
        });
    
    //"penisholder_<%= symbol.id %>"
    $("#penisholder_<%= symbol.id %>").find("canvas").on("contextmenu",(e)=>{return false;});
    $("#penisholder_<%= symbol.id %>").find("canvas").on("mousedown",(e)=>{
        if(e.which==3)
        {
            //start dragging
            megaChart<%= symbol.id %>.rclick = true;
            megaChart<%= symbol.id %>.rec.juststarted = true;
        }
        
    });
    $("#penisholder_<%= symbol.id %>").find("canvas").on("mouseup",(e)=>{
        if(e.which==3)
        {
            //stop dragging
            let p_box = document.getElementById("b53_<%= symbol.id %>_percent_box");
            let p_box2 = document.getElementById("b53_<%= symbol.id %>_percent_box2");
            megaChart<%= symbol.id %>.rclick = false;
            megaChart<%= symbol.id %>.rec.startX = 0;
            megaChart<%= symbol.id %>.rec.startY = 0;
            megaChart<%= symbol.id %>.rec.startPrice = 0;
            megaChart<%= symbol.id %>.rec.startTime = 0;
            megaChart<%= symbol.id %>.rec.juststarted = false;
            p_box.style.display = "none";
            p_box2.style.display = "none";
            if(megaChart<%= symbol.id %>.rec.bars!=null) 
            {
                clearInterval(megaChart<%= symbol.id %>.rec.bars);
                megaChart<%= symbol.id %>.rec.bars = null;
            }
            $("#b53_<%= symbol.id %>_percent_box2").html("");
        }
        
    });

    megaChart<%= symbol.id %>.chart.subscribeCrosshairMove((p)=>{
        if(!p.point||!megaChart<%= symbol.id %>.rclick) return;
        let currPrice = megaChart<%= symbol.id %>.chart.Ec.ri.A.Mi;
        let p_box = document.getElementById("b53_<%= symbol.id %>_percent_box");
        let p_box2 = document.getElementById("b53_<%= symbol.id %>_percent_box2");
        let ph_p = $("#penisholder_<%= symbol.id %>").offset();
        let x = ph_p.left + p.point.x;
        let y = ph_p.top + p.point.y;
        if(megaChart<%= symbol.id %>.rec.juststarted)
        {
            megaChart<%= symbol.id %>.rec.startX = x;
            megaChart<%= symbol.id %>.rec.startY = y;
            megaChart<%= symbol.id %>.rec.startPrice = currPrice;
            megaChart<%= symbol.id %>.rec.startTime = p.time;
            megaChart<%= symbol.id %>.rec.juststarted = false;
            p_box.style.display = "block";
            p_box2.style.display = "block";
            if(megaChart<%= symbol.id %>.rec.bars!=null) 
            {
                clearInterval(megaChart<%= symbol.id %>.rec.bars);
                megaChart<%= symbol.id %>.rec.bars = null;
            }
            megaChart<%= symbol.id %>.rec.bars = setInterval(()=>{megaChart<%= symbol.id %>.rec.buildbars = true;},1500);
            
            

        }
        //get penisholder position
        $(p_box).css({ left: x + 10, top: y - 30 });
        let diffX = megaChart<%= symbol.id %>.rec.startX - x;
        let diffY = megaChart<%= symbol.id %>.rec.startY - y;
        let w = Math.abs(diffX) - 2;
        let h = Math.abs(diffY) - 2;
        let b2x = (diffX<0)?megaChart<%= symbol.id %>.rec.startX:x+2;
        let b2y = (diffY<0)?megaChart<%= symbol.id %>.rec.startY:y+2;
        $(p_box2).css({ left: b2x, top: b2y, width:w, height:h });
        //percent 
        let perc = 100*Math.abs(currPrice - megaChart<%= symbol.id %>.rec.startPrice)/megaChart<%= symbol.id %>.rec.startPrice;
        $(p_box).text(perc.toFixed(2)+"%");

        if(megaChart<%= symbol.id %>.rec.buildbars)
        {
            let fromtime = megaChart<%= symbol.id %>.rec.startTime>p.time?p.time:megaChart<%= symbol.id %>.rec.startTime;
            let totime = megaChart<%= symbol.id %>.rec.startTime>p.time?megaChart<%= symbol.id %>.rec.startTime:p.time;
            let fromprice = megaChart<%= symbol.id %>.rec.startPrice>currPrice?currPrice:megaChart<%= symbol.id %>.rec.startPrice;
            let toprice = megaChart<%= symbol.id %>.rec.startPrice>currPrice?megaChart<%= symbol.id %>.rec.startPrice:currPrice;
            megaChart<%= symbol.id %>.rec.buildbars = false;
            if(!fromprice||!fromtime||!toprice||!totime) return;
            fetch(`/indicator?time=${$("#b53_<%= symbol.id %>_time").attr("data-value")}&symbolid=<%= symbol.id %>&type=vertvolume&fromtime=${fromtime}&totime=${totime}&fromprice=${fromprice}&toprice=${toprice}`)
            .then((r) => r.json())
            .then((he) => {
                let barsCode = "";
                let ratio = h/he.length;
                he.forEach(e=>{
                    barsCode = chartline<%= symbol.id %>(e.prec,ratio) + barsCode;
                });
                $("#b53_<%= symbol.id %>_percent_box2").html(barsCode);
            })
            .catch((er) => {
                console.warn(er);
            });
        }
        //console.log(p);
        //console.log(currPrice);
        //console.log(megaChart<%= symbol.id %>.chart.TM.Da.gi.Da.Qo.h[0].l.Q_.h[0].l.TM.gi.ct.Ai);
        //console.log(megaChart<%= symbol.id %>.rec);
    });
    $("body").append(rec1html<%= symbol.id %>);
    $("body").append(rec2html<%= symbol.id %>);
    $("#b53_<%= symbol.id %>_percent_box").on("contextmenu",(e)=>{return false;});
    $("#b53_<%= symbol.id %>_percent_box2").on("contextmenu",(e)=>{return false;});

    
    //rec1html<%= symbol.id %>
    //$('body').on('contextmenu', '#myCanvas', function(e){ return false; });
    //var megaPr = megaChart141.series[0].seria.createPriceLine({
    //    price:1.98
    //});
    // megaPr.Lr.uh.ni.ii
    //megaChart141.chart.TM.Da.gi.Da.Qo.h[0].l.Q_.h[0].l.TM.gi.ct
    //megaChart113.chart.Ec.ri.A.Mi
})
</script>