<%- include('header'); %>
<h3>SYMBOLS</h3>
<div class="row">
    <div class="col-8">
        <div class="row">
            <div class="col-1 text-end px-1"><input class="form-check-input big-checkbox " type="checkbox" value=""></div>
            <div class="col-1 px-1"><button class="btn btn-success btn-sm col-12" id="B53_Symbols_New" data-bs-toggle="modal" data-bs-target="#b53_newCoin">📝 New</button></div>
            <div class="col-1 px-1"><button class="btn btn-danger btn-sm col-12" id="B53_Symbols_Delete">💩 Delete</button></div>
            <div class="col-1 px-1"><button class="btn btn-info btn-sm col-12" id="B53_Symbols_Active">👑 Active</button></div>
            <div class="col-4 px-1">
                <input class="form-control" type="text" placeholder="Filter" id="b53_filter_acc">
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <div class="col-2 px-1"><button class="btn btn-info btn-sm col-12" id="B53_Symbols_Refresh">🔋 Refresh</button></div>
        </div>
    </div>
    
</div>
<div class="row mt-3">
    <div class="accordion">
<% 
        rows.forEach((row)=>{
%>
        <div class="accordion-item" symbolid="<%= row.id %>" symbol="<%= row.symbol %>">
            <div class="accordion-header">
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <span class="col-1 border-end text-end"><input class="form-check-input big-checkbox" type="checkbox" value=""></span>
                            <span class="col-3 border-end text-start fs-5 b53symb"><%= row.symbol %></span>
                            <span class="col-2 px-1"><button class="btn-secondary btn btn-sm col-12 b53realbutton">Fut R</button></span>
                            <span class="col-2 px-1"><button class="btn-secondary btn btn-sm col-12 b53histbutton">Fut H</button></span>
                            <span class="col-2 px-1"><button class="btn-secondary btn btn-sm col-12 b53realibutton">Int R</button></span>
                            <span class="col-2 px-1"><button class="btn-secondary btn btn-sm col-12 b53reali5button">I5m R</button></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <span class="col-2 px-1"><button class="btn-secondary btn btn-sm col-12 b53histibutton">Int H</button></span>
                            <span class="col-2 px-1"><button class="btn-secondary btn btn-sm col-12 b53realsbutton">Spot R</button></span>
                            <span class="col-2 px-1"><button class="btn-secondary btn btn-sm col-12 b53histsbutton">Spot H</button></span>
                            <span class="col-2 px-1"><button class="btn-secondary btn btn-sm col-12 b53reallbutton">Liq R</button></span>
                            <span class="col-2 px-1"><button class="btn-secondary btn btn-sm col-12 b53histlbutton">Liq H</button></span>

                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row">
                            <span class="col-4"><button class="btn btn-info btn-sm col-12">PopOut</button></span>
                            <span class="col-8">
                                <button id="b53_<%= row.symbol %>_colapse" class="btn-sm accordion-button collapsed b53colapse" type="button" data-bs-toggle="collapse" data-bs-target="#b53_<%= row.symbol %>_collapseTwo" aria-expanded="false" aria-controls="b53_<%= row.symbol %>_collapseTwo">
                                    SHOW!
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="b53_<%= row.symbol %>_collapseTwo" class="accordion-collapse collapse">
              <div class="accordion-body" id="b53_<%= row.symbol %>_body">
                <span class="fs-1">
                    🕡
                </div>
            </div>
        </div>
<% 
        });
%>
    </div>
</div>
<div class="modal fade" id="b53_newCoin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add New Futures</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger" role="alert" id="b53_new_missing_data">
                <strong>Missing!</strong> Some values arent set.
            </div>
            <div class="container-fluid form-inline">
                <div class="row">
                    <div class="col-3">
                        <label for="b53_new_market" class="form-label">Market</label>
                        <input class="form-control" list="b53_new_market_options" id="b53_new_market" placeholder="Type to search...">
                        <datalist id="b53_new_market_options">
                        </datalist>
                    </div>
                    <div class="col-3">
                        <label for="b53_new_futuresName" class="form-label">Futures Name</label>
                        <input class="form-control" list="b53_new_futures_list" id="b53_new_futuresName" placeholder="Futures Name">
                        <datalist id="b53_new_futures_list">
                        </datalist>
                    </div>
                    <div class="col-3">
                        <label for="b53_new_spotName" class="form-label">Spot Name</label>
                        <input class="form-control" list="b53_new_spot_list" id="b53_new_spotName" placeholder="Spot Name">
                        <datalist id="b53_new_spot_list">
                        </datalist>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-3">
                        <label for="b53_new_hours" class="form-label">Hours Futures to upload history</label>
                        <input class="form-control" type="text" placeholder="Hours to upload history" id="b53_new_hours" value="1">
                    </div>
                    <div class="col-3">
                        <label for="b53_new_p_hours" class="form-label">Hours SPOT to upload history</label>
                        <input class="form-control" type="text" placeholder="Hours to upload history" id="b53_new_p_hours" value="1">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="b53_new_symbol_save">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(()=>{
        $('#b53_new_missing_data').hide();
        $("#B53_Symbols_New").on("mouseup",()=>{
            fetch("/html_options?type=market")
            .then((r) => r.json())
            .then((h) => {
                $("#b53_new_market_options").html(
                    h.map(e=>`<option data-value='${e.value}' value='${e.name}'>`).join('')
                );
            })
            .catch((er) => {
                console.warn(er);
            });
        });
        $("#B53_Symbols_Delete").on("mouseup",()=>{
            
        });
        $("#B53_Symbols_Refresh").on("mouseup",()=>{
            location.reload();
        });
        $(".b53colapse").on("mouseup",(e)=>{
            if($(e.target).attr("aria-expanded")=="true")
            {
                $(e.target).closest(".accordion-item").find(".accordion-body").html("Loading....");
            }
            else
            {
                fetch("/s_d?symbolid="+$(e.target).closest(".accordion-item").attr("symbolid"))
                .then((r) => r.text())
                .then((h) => {
                    $(e.target).closest(".accordion-item").find(".accordion-body").html(h);
                })
                .catch((er) => {
                    console.warn(er);
                });
            }
        });
        $('#b53_new_market').change(()=>{

            fetch("/html_options?type=symbols&isfutures=true&unmain=true&market="+$('#b53_new_market').val())
            .then((r) => r.json())
            .then((h) => {
                
                $("#b53_new_futures_list").html(
                    h.map(e=>`<option data-value='${e.value}' value='${e.name}'>`).join('')
                );
            })
            .catch((er) => {
                console.warn(er);
            });

            fetch("/html_options?type=symbols&isfutures=false&unmain=true&market="+$('#b53_new_market').val())
            .then((r) => r.json())
            .then((h) => {
                
                $("#b53_new_spot_list").html(
                    h.map(e=>`<option data-value='${e.value}' value='${e.name}'>`).join('')
                );

                //add onchange of futures if any spot like that
                $("#b53_new_futuresName").change(()=>{
                    if($("#b53_new_futuresName").val()!="")
                    {
                        let optionLikeThat = $(`#b53_new_spot_list option[value='${$("#b53_new_futuresName").val()}']`);
                        if(optionLikeThat.length)
                        {
                            $("#b53_new_spotName").val(optionLikeThat.val());
                        }
                    }
                });
            })
            .catch((er) => {
                console.warn(er);
            });
        });
        $('#b53_new_symbol_save').on("mouseup",()=>{
            //check all in
            let futid = $(`#b53_new_futures_list option[value='${$("#b53_new_futuresName").val()}']`).attr('data-value');
            let spotid = $(`#b53_new_spot_list option[value='${$("#b53_new_spotName").val()}']`).attr('data-value');
            let hrs = $('#b53_new_hours').val();
            let hrs2 = $('#b53_new_p_hours').val();
            if(!futid||!spotid||!hrs||!hrs2) {$('#b53_new_missing_data').show();return;}
            $('#b53_new_missing_data').hide();
            fetch("/update?table=dbo.b53symbols&id="+futid,{method:'POST',
                headers: {
                "Content-Type": "application/json"
                },
                body:JSON.stringify([
                    {name:"pair",value:spotid},
                    {name:"ismainlist",value:true},
                    {name:"uploadhours",value:hrs},
                    {name:"pair_uploadhours",value:hrs2},
                ])}).then(()=>{
                    //close done
                    $('#b53_newCoin').modal('toggle');
                    location.reload();
            }).catch((er) => {
                console.warn(er);
            });
        });
        let health = setInterval(()=>{
            let arr = $(".accordion-item").map((i,e)=>$(e).attr("symbolid")).get();
            fetch("/symbols_health",{method:'POST',
                headers: {
                    "Content-Type": "application/json"
                },
                body:JSON.stringify(arr)})
                .then((r) => r.json())
                .then((res)=>{
                    res.forEach((s) => {
                        let theReal = $(`.accordion-item[symbolid='${s.sid}']`).find(".b53realbutton");
                        theReal.attr("class",s.real.style+" btn btn-sm col-12 b53realbutton");
                        theReal.text(s.real.text);
                        let theHist =$(`.accordion-item[symbolid='${s.sid}']`).find(".b53histbutton");
                        theHist.attr("class",s.hist.style+" btn btn-sm col-12 b53histbutton");
                        theHist.text(s.hist.text);

                        let theSReal = $(`.accordion-item[symbolid='${s.sid}']`).find(".b53realsbutton");
                        theSReal.attr("class",s.sreal.style+" btn btn-sm col-12 b53realsbutton");
                        theSReal.text(s.sreal.text);
                        let theSHist = $(`.accordion-item[symbolid='${s.sid}']`).find(".b53histsbutton");
                        theSHist.attr("class",s.shist.style+" btn btn-sm col-12 b53histsbutton");
                        theSHist.text(s.shist.text);

                        let theIReal = $(`.accordion-item[symbolid='${s.sid}']`).find(".b53realibutton");
                        theIReal.attr("class",s.ireal.style+" btn btn-sm col-12 b53realibutton");
                        theIReal.text(s.ireal.text);

                        let theI5Real = $(`.accordion-item[symbolid='${s.sid}']`).find(".b53reali5button");
                        theI5Real.attr("class",s.i5real.style+" btn btn-sm col-12 b53reali5button");
                        theI5Real.text(s.i5real.text);
                        
                        let theIHist = $(`.accordion-item[symbolid='${s.sid}']`).find(".b53histibutton");
                        theIHist.attr("class",s.ihist.style+" btn btn-sm col-12 b53histibutton");
                        theIHist.text(s.ihist.text);
                    });
            }).catch((er) => {
                console.warn(er);
            });
        },500);
        $(".b53realbutton").on("mouseup",(e)=>{
            fetch("/pushservice?srvname=trade&symbolid="+$(e.target).closest(".accordion-item").attr("symbolid"))
            .catch((er) => {
                console.warn(er);
            });
        });
        $(".b53histbutton").on("mouseup",(e)=>{
            fetch("/pushservice?srvname=hist&symbolid="+$(e.target).closest(".accordion-item").attr("symbolid"))
            .catch((er) => {
                console.warn(er);
            });
        });
        $(".b53realsbutton").on("mouseup",(e)=>{
            fetch("/pushservice?srvname=trades&symbolid="+$(e.target).closest(".accordion-item").attr("symbolid"))
            .catch((er) => {
                console.warn(er);
            });
        });
        $(".b53histsbutton").on("mouseup",(e)=>{
            fetch("/pushservice?srvname=hists&symbolid="+$(e.target).closest(".accordion-item").attr("symbolid"))
            .catch((er) => {
                console.warn(er);
            });
        });
        $(".b53realibutton").on("mouseup",(e)=>{
            fetch("/pushservice?srvname=interest&symbolid="+$(e.target).closest(".accordion-item").attr("symbolid"))
            .catch((er) => {
                console.warn(er);
            });
        });
        $(".b53reali5button").on("mouseup",(e)=>{
            fetch("/pushservice?srvname=interest5m&symbolid="+$(e.target).closest(".accordion-item").attr("symbolid"))
            .catch((er) => {
                console.warn(er);
            });
        });
        $(".b53histibutton").on("mouseup",(e)=>{
            fetch("/pushservice?srvname=interesthist&symbolid="+$(e.target).closest(".accordion-item").attr("symbolid"))
            .catch((er) => {
                console.warn(er);
            });
        });
        $("#B53_Symbols_Active").click((e,h)=>{
            if($(e.target).text()=="👑 Active")
            {
                $(e.target).text("👑 All");
                //with div id like penisholder
                $(".accordion-item").hide();
                $("div[id^='penisholder']").closest(".accordion-item").show();
                return;
            }
            //all, set active
            $(e.target).text("👑 Active");
            $(".accordion-item").show();
        });
        $("#b53_filter_acc").keyup(()=>{
            let bla = $('#b53_filter_acc').val().toUpperCase();
            if(bla)
            {
                $(".accordion-item").hide();
                $(`.accordion-item[symbol*='${bla}']`).show();
            }
            else $(".accordion-item").show();
        });
    });
</script>
<%- include('footer'); %>